<div class="container">
    <div class="form-container">
        <h2>Add New Product</h2>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Product Name:</label>
            <input id="name" formControlName="name" type="text" />
            <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="error-message">
              <small *ngIf="productForm.get('name')?.errors?.['required']">Product name is required.</small>
              <small *ngIf="productForm.get('name')?.errors?.['minlength']">Product name must be at least 3 characters long.</small>
            </div>
          </div>
      
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" formControlName="description"></textarea>
            <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="error-message">
              <small *ngIf="productForm.get('description')?.errors?.['required']">Description is required.</small>
              <small *ngIf="productForm.get('description')?.errors?.['minlength']">Description must be at least 10 characters long.</small>
            </div>
          </div>
      
          <div class="form-group">
            <div class="inline-group">
              <div class="form-group-inline">
                <label for="price">Price:</label>
                <input id="price" formControlName="price" type="number" step="0.01" />
                <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="error-message">
                  <small *ngIf="productForm.get('price')?.errors?.['required']">Price is required.</small>
                  <small *ngIf="productForm.get('price')?.errors?.['min']">Price must be greater than 0.</small>
                </div>
              </div>
      
              <div class="form-group-inline">
                <label for="stock">Stock:</label>
                <input id="stock" formControlName="stock" type="number" />
                <div *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched" class="error-message">
                  <small *ngIf="productForm.get('stock')?.errors?.['required']">Stock is required.</small>
                  <small *ngIf="productForm.get('stock')?.errors?.['min']">Stock must be at least 1.</small>
                </div>
              </div>
            </div>
          </div>
      
          <button type="submit" [disabled]="productForm.invalid">Add Product</button>
          
          <!-- Navigation Buttons -->
          <div class="button-container">
            <button type="button" class="go-back" (click)="goBack()">Go Back</button>
            <button type="button" class="my-products" (click)="viewMyProducts()">My Products</button>
          </div>
        </form>
      </div>
</div>

  