<nav class="navbar">
    <div class="navbar-left">
      <h1>Welcome to CollegeDukaan!</h1>
    </div>
    <div class="navbar-right">
      <button>
        <ng-container *ngIf="isAlreadySeller; else becomeSeller">
            <a class="addproductform" [routerLink]="['/product-add-form']">Add Product & Sell</a>
          </ng-container>
          <ng-template #becomeSeller>
            <a class="becomeseller" (click)="openModal()">Become a Seller</a>
          </ng-template>
      </button>
      <div class="profile-dropdown">
        <img src="assets/profile-icon.png" alt="Profile Icon" class="profile-icon" (click)="toggleDropdown()">
        <div class="dropdown-content" *ngIf="dropdownOpen">
          <a (click)="viewProfile()">Profile</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  
<!-- Modal Background -->
<div class="modal-background" *ngIf="modalVisible" (click)="closeModal()"></div>

<!-- Modal Content -->
<div class="modal-content" *ngIf="modalVisible">
    <button type="submit" class="MakeMeASeller" (click)="makeMeASeller()">Make Me a Seller</button>
</div>


<div class="search-container">
  <input type="text" [(ngModel)]="productName" (ngModelChange)="onInputChange()"  placeholder="Enter product name" />
  <input type="text" [(ngModel)]="collegeName" (ngModelChange)="onInputChange()" placeholder="Enter college name" />
  <!-- <button (click)="searchProducts()">Search</button> -->
</div>


<div class="carousel">
  <div class="carousel-track-container" #carouselTrackContainer>
    <ul class="carousel-track" #carouselTrack>
      <li class="carousel-slide" *ngFor="let product of products1" (click)="onProductClick(product)">
        {{ product}}
      </li>
      <li class="carousel-slide" *ngFor="let product of products1" (click)="onProductClick(product)">
        {{ product}}
      </li> <!-- Duplicate items for smooth loop -->
    </ul>
  </div>
</div>



<div class="products-list">
  <div class="header-container">
    <h2>Products Available Near You</h2>
    <button class="all-products-button" (click)="AllProduct()">All Products</button>
  </div>

  
    <!-- Products Display -->
    <div *ngIf="products.length > 0; else noProducts">
      <div class="product-grid">
        <div *ngFor="let product of products" class="product-card">
          <div class="product-image">
            <img [src]="'data:image/jpeg;base64,' + product.image" alt="{{ product.name }}" />
          </div>
          <div class="product-info">        
            <h3>{{ product.name | titleCase }}</h3>
            <p class="product-price">
              <!-- <i class="fas fa-tag"></i> -->
              <span>{{ product.price | currency:'INR':'symbol':'1.2-2' }}</span>
            </p>
            <p class="product-college">
              <!-- <i class="fas fa-university"></i> -->
              <span>{{ product.collegeName }}</span>
            </p>
            <button class="buy-now-button">Buy Now</button> 
          </div>
        </div>
      </div>
    </div>
    
    <!-- No Products Found -->
    <ng-template #noProducts>
      <p>No products available.</p>
    </ng-template>
  
  </div>



  <app-loader *ngIf="isLoading"></app-loader>


  